html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #121212 0%, #1e1e1e 100%);
}

a {
  color: inherit;
  text-decoration: none;
}
